body {
  margin: 0;
  background: #000 url(img/img_000.jpg) no-repeat top center fixed;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.row {
  margin: 0;
}

/* ------- PAGEs Styles: --------------------------------- */
.header {
  min-height: 200px;
}
.pages {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
.pages.branch {
  background-size: 150% auto;
}
.pages.branch h2 {
  color: #fff;
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
}
.budapest {
  background: #e6ebed url(img/budapest.jpg) no-repeat top right fixed;
}
.venice {
  background: #e6ebed url(img/venice.jpg) no-repeat top center fixed;
}
.telaviv {
  background: #e6ebed url(img/telaviv.jpg) no-repeat top right fixed;
}
.beirut {
  background: #e6ebed url(img/beirut.jpg) no-repeat top center fixed;
}
.mykonos {
  background: #e6ebed url(img/mykonos.jpg) no-repeat top right fixed;
}
.ibiza {
  background: #e6ebed url(img/ibiza.jpg) no-repeat top center fixed;
}

/* -- Ladies Style: ----------------------------------- */
.ladies {
  background: #e6ebed url(img/ladies.jpg) no-repeat bottom center fixed;
}
.ladies p {
  color: #fff;
}
.ladies .warning {
  color: #440011;
}
.ladies .promo {
  height: 40vh;
  padding: 10px 8px;
  background-color: rgba(100,0,200,.5)
}
.ladies .register {
  padding-top: 10px;
  height: 60vh;
  background-color: rgba(200,0,100,.5)
}

.cata {
  height: 230px;
}
.lista {
  width: 140px;
  height: 140px;
  padding-top: 12px;
  margin: 0 auto;
  text-align: center;
  border: 6px solid white;
  color: #eee;
  font-family: 'Alex Brush';
  font-size: 28px;
}

/* ------------------------------------------------------- */
/* ----- UI-Elements Styles ----------------------------- */
.dashbar {
  width: 100vw;
  height: 48px;
  padding: 13px 4px;
  background-color: #000;
  border-bottom: 1px solid #777;
}

/*--- Select-Options Styles for Branch-UI -------------*/
.branches {
  color: #aaa;
  padding-left: 12px;
}
.branches div {
  margin-top: 0px;
  padding-left: 2px;
}
.branches select {
  color: #fff;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  margin-right: 3px;
  border: 1px solid #666;
  background: none;
}
.branches .small {
  font-size: 14px;!important
}
/* -- ACCOUNT/USER SETTINGS UI ----------------------------------- */
.dash {
  display: inline;
  max-width: 26px;
  max-height: 30px;
  color: #ccc;
  border-right: 1px solid #000;
}
/* -- VIDEO UI --------------------------------------------------- */
.video {
  position: relative;
  max-width: 26px;
  margin-left: 3px;
}
.video .on {
  color: white
}
.video .off {
  color: #666
}
.label {
  position: absolute;
  max-width: 34px;
  top: 12px;
  right: 4px;
  color: #fff;
  font-size: 10px;
  text-align: center;
}
/* -- CREDITS UI -------------------------------------------------- */
.credit {
  float: right;
  position: relative;
  max-width: 28px;
}
/*-- Division for Event Anouncement/Calendar ----------------------*/
.calendar{
  position: relative;
  height: 230px;
  padding-top: 4px;
  text-align: center;
  color: #fff;
}
.day_page {
  max-width: 100px;
  max-height: 120px;
  margin: auto;
  padding: 6px 10px;
  background-color: rgba(1,1,1,.5);
}
.day_page .date {
  height: 50px;
  padding-top: 14px;
  font-family: 'Libre Baskerville', 'Poiret One', serif;
  font-size: 34px;
  border-bottom: 4px solid #fff;
}
.day_page .month{
  height: 28px;
  padding-top: 0;
  font-family: 'Poiret One';
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  border-bottom: 1px dashed #fff;
}
.day_page .day {
  font-size: 20px;
  margin-top: 4px;
  font-family: 'Dancing Script';
  font-family: 'Libre Baskerville', serif;
}
/*---- Content-Elements Styles ---------------------------*/
/* These are boxes with Icons and link to service --------*/
/* --- These are genereal styles... but they customize by Chapter:
------ Branch Pages, Home Page....
*/
.service {
  height: 180px;
  text-align: center;
  color: #fff;
}
/* ---------------------------------------------- */
.opening {
  position: absolute;
  text-align: center;
  color: #fff;
  top: 40vh;
  left: 0vw;
}
.opening .thin-line {
  border-top: 1px solid #aaa;
}
.opening .h2-ladies {
  float: right;
  margin: 0;
  font-family: 'Dancing Script';
  font-size: 20px;
}
.register-card {
  position: relative;
  padding: 0 14px;
  margin: auto;
  text-align: left;
  color: #fff;
}
.register-card label {
  margin-top: 4px;
}
.register-card input {
  margin: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(1,1,1,.5);
  border: 1px solid #aaa;
}
.register-card .form-group {
  margin: 0;
  margin-bottom: 8px;
}
.register-card button {
  margin: 0 auto;
  color: #fff;
  background-color: rgba(1,1,1,.5);
  border: 1px solid #aaa;
}
.register-card h2 {
  color: #fe8;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 12px;
}
/* ---------------------------------------------- */

.top {
}

/* ---- ADRI Brand Signature -------------------- */
.brand {
  color: #eee;
  font-family: 'Alex Brush';
}
.brand span {
  margin-right: 3px;
  vertical-align: sub;
}
/* ---------------------------------------------- */



/* ======================================================== */
/* ========= MEDIA QUERIES ================================== */
/* ======================================================== */

@media only screen and (min-width: 769px) {
  body {
    background: url(img/wideScreen.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .day_page {
    padding-top: 16px;
    min-height: 140px;
    max-width: 180px;
  }
  .day_page .date {
    height: 70px;
    padding-top: 22px;
    font-size: 42px;
    border-bottom: 8px solid #fff;
  }
  .day_page .day {
    font-size: 24px;
    margin-top: 8px;
    font-family: 'Libre Baskerville', serif;
  }

/* ---- PAGES styles: -----------------------------------------------*/
  .pages.branch {
    background-size: 100vw auto;
    background-color: #fff;
  }
  .ladies {
    background: #e6ebed url(img/ladies_wide.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .ladies .register {
    height: 60vh;
    background-color: rgba(200,0,100,.5)
  }
  .service {
    height: 50vh;
  }
/* ----------------------------------------------------------------- */

  .branches select {
    background: transparent;
    font-size: 18px;
    -webkit-appearance: none;
    border: 1px solid #666;
  }
  .pages.branch h2 {
    font-size: 4em;
  }
  .calendar {
    right: 120px;
    width: 150px;
    height: 170px;
    padding: 10px;
  }
  .opening {
    top: 45vh;
    left: 24vw;
  }
  .register-card {
    position: relative;
    padding: 14px 8px;
    top: 8px;
    width: 40vw;
    height: 30vh;
    text-align: left;
    color: #fff;
    border: 2px solid #aaa;
    border-radius: 3px;
  }
  .hidden {
    display: block;
  }
}


/* ======================================================== */
/* ========= Miscelaneouse ================================ */
/* ======================================================== */

hr {
    border: none;
    border-bottom: 1px dashed #ccc;
    color: #aaa;
    overflow: visible;
    text-align: center;
    height: 5px;
}
.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
  background: none;
  color: #fff;
  border: 1px solid #999;
}
.text-shadow-10 {
  text-shadow: #eee 1px 0 10px;
}
.v-center {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}
.shadow {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.7);
}

.white {
  color: #fff;
}
.white-box {
  padding: 6px;
  background: rgba(255,255,255,.8)
}
.hidden {
  display: none;
}
.warning {
  padding: 2px 8px;
  border: 1px solid #f79;
  border-radius: 4px;
  background-color: rgba(255,120,150,.5);
  color: #77001d;
  font-size: 10px;
}
.hidden {
  display: none
}
